body {
    background-color: #fef2f7;
}

#check {
    color: rgb(3, 160, 63);
    text-align: center;
    font-size: 10vmin;
    font-weight: bold;
}
.count-display {
    text-align: center;
    font-weight: bold;
    font-size: 2vmin;
}

#counts {
    font-size: 20vmin;
    color: rgb(32, 111, 143);
}