header {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: blue;/*change this color later 後で色変える*/
    width: 100%;
    height: 16vmin;
    z-index: 10;
    position: fixed;
}

.SearchFormArea{
    
}