header {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: blue;/*change this color later 後で色変える*/
    width: 100%;
    height: 16vmin;
    z-index: 10;
    position: fixed;
}

.HeaderItemArea{
    height: 50%;
    top: 8vmin;
    margin: auto 0 0 0;
    position: relative;
    display: flex;
}

.SettingButton{
    /*im starting to think i dont need this*/
    /*これいらなくね?*/
    height: 100%;
    width: auto;
}

.SearchArea{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3vmin;
    background-color: #f7e6bb;

}

.SearchTypePlace{
    padding:0;
    top: 50%;
    transform: translateY(-50%);
}

.SearchButtom{
    height: 8vmin;
    width: auto;
}

.AddButton{

}